################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheDotFactory/bin/Debug
/TheDotFactory/obj/Debug
