<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheDotFactory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TheDotFactory.Properties.Settings>
            <setting name="InputText" serializeAs="String">
                <value>Enter text to generate here</value>
            </setting>
            <setting name="OutputConfigIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
        </TheDotFactory.Properties.Settings>
    </userSettings>
</configuration>